<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-4">
        <h2><%= icon('fas', 'cart-arrow-down') %> 장바구니</h2>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 50%;">제품명</th>
            <th scope="col">가격</th>
            <th scope="col">수량</th>
            <th scope="col">합계</th>
            <th scope="col" style="width: 20px;"></th>
          </tr>
        </thead>
        <tbody>
        <% @carts.each do |cart| %>
          <tr>
            <th scope="row"><%= cart.pack.product_name%></th>
            <td><%= number_to_currency(cart.pack.price)%></td>
            <td><%= cart.quantity%></td>
            <td><%= cart_to_currency(cart)%></td>
            <td>
              <a href="/carts/<%=cart.id%>" class="ml-3" data-method="delete" data-confirm="삭제 하시겠습니까?"><%= icon("fas", "times-circle") %></a>
            </td>
          </tr>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
<% if @carts.present? %>
  <hr/>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">상품 합계</h5>
            <p class="card-text"><%= number_to_currency(@product_price) %></p>
          </div>
          <div class="d-flex justify-content-between mt-4">
            <h5 class="card-title">배송비</h5>
            <p class="card-text"><%= number_to_currency(@shipping_fee) %></p>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">최종 결제금액</h5>
            <p class="card-text"><%= number_to_currency(@total_price) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6">
      <a href="/packs" class="btn btn-dark">장바구니 담으러가기</a>
    </div>
    <div class="col-6 text-right">
      <form action="/orders" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% @carts.each do |cart| %>
          <input type="hidden" name="cart_id[]" value="<%=cart.id%>">
        <%end%>
        <button type="submit" class="btn btn-outline-dark">주문하기</button>
      </form>
    </div>
  </div>
  <% end %>
</div>
